version: '3.8'
services:
  db:
    image: postgres
    container_name: job_crm_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: REMOVED_FOR_SECURITY
      POSTGRES_DB: job_crm_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: