version: '3.8'

services:
  # --- SSL & Proxy Services ---
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - app_network
    restart: always

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    volumes_from:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL=${DEFAULT_EMAIL}
    networks:
      - app_network
    restart: always

  # --- Application Services ---
  db:
    image: postgres:15
    container_name: applyfollow_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  backend:
    build: ./backend
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/applyfollow-backend:latest
    container_name: applyfollow_backend
    restart: always
    expose:
      - "8080"
    depends_on:
      - db
    environment:
      # Database Config
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}

      # Security
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}

      # Mail Config
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}

      # CORS
      CORS_ALLOWED_ORIGINS: "*"

      # NGINX CONFIG
      VIRTUAL_HOST: ${DOMAIN_NAME},www.${DOMAIN_NAME}
      VIRTUAL_PATH: /api,/v3/api-docs,/swagger-ui
      LETSENCRYPT_HOST: ${DOMAIN_NAME},www.${DOMAIN_NAME}

    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: /api
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/applyfollow-frontend:latest
    container_name: applyfollow_frontend
    restart: always
    expose:
      - "3000"
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: /api

      # NGINX CONFIG
      VIRTUAL_HOST: ${DOMAIN_NAME},www.${DOMAIN_NAME}
      VIRTUAL_PORT: 3000
      LETSENCRYPT_HOST: ${DOMAIN_NAME},www.${DOMAIN_NAME}
    networks:
      - app_network

volumes:
  postgres_data:
  certs:
  vhost:
  html:
  acme:


networks:
  app_network:
    driver: bridge
