@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-background-main: var(--background);
  --color-surface-card: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-input-bg: var(--input-bg);
  --color-border-main: var(--border-color);
  --color-surface-darker: var(--surface-darker);

  --color-text-main: var(--text-color);
  --color-text-muted: var(--text-muted);

  --font-display: var(--font-space-grotesk), sans-serif;
  --font-body: var(--font-noto-sans), sans-serif;

  --shadow-glow: 0 0 15px -3px rgba(16, 185, 129, 0.3);
}

:root {
  --primary: #17cf63;
  --primary-dark: #14b556;
  --background: #0d1214;
  --surface: #1a1f21;
  --surface-hover: #24292b;
  --surface-darker: #050708;
  --input-bg: #111814;
  --border-color: rgba(255, 255, 255, 0.03);
  /* Çok daha mat, ince çizgi */
  --text-color: #f8fafc;
  --text-muted: #94a3b8;
}

.light {
  --primary: #10b981;
  --primary-dark: #059669;
  --background: #f8fafc;
  --surface: #ffffff;
  --surface-hover: #f1f5f9;
  --surface-darker: #e2e8f0;
  --input-bg: #f1f5f9;
  --border-color: rgba(0, 0, 0, 0.05);
  /* Işık modunda da yumuşak */
  --text-color: #0f172a;
  --text-muted: #64748b;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-body);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Material Icons Customization */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}